.react-tel-input {
  z-index: 999999999;
}

.react-tel-input .form-control {
  display: block !important;
  width: 100% !important;
  padding: 0.4375rem 1rem 0.4375rem 3rem !important;
  font-size: 0.8125rem !important;
  font-weight: 400 !important;
  line-height: 1.25rem !important;
  color: #3c4d62 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #dbdfea !important;
  appearance: none !important;
  border-radius: 4px !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.react-tel-input .form-control-lg {
  min-height: calc(2.625rem + 2px) !important;
  padding: 0.6875rem 1rem 0.6875rem 3rem !important;
  font-size: 0.9375rem !important;
  border-radius: 5px !important;
}

.react-tel-input .country-list .search-box {
  width: calc(100% - 1rem) !important;
  padding: 0.5rem 0.75rem !important;
}

.form-icon~.react-tel-input .flag-dropdown {
  left: 2.5rem
}

.form-icon.form-icon-left~.react-tel-input .form-control {
  padding: 0.4375rem 1rem 0.4375rem 5.75rem !important;
}

.form-icon.form-icon-left~.react-tel-input .form-control-lg {
  padding: 0.4375rem 1rem 0.4375rem 6rem !important;
}