.contenInputButton {
    display: flex;
    justify-content: flex-end;
}

.btnFile {
    height: 40px;
    position: relative;
    width: 40px;
}


.iconFile {
    font-size: 30px;
    position: absolute;
    right: 10%;
}

.btnDropdown {
    height: 40px;
    color: white;
    margin: 0 20px;
}

.dropdownList {
    width: 170px;
}

.inputSearch {
    height: 40px;
    width: 300px;
}

.textPayment {
    border-radius: 50px;
    margin-bottom: -2px;
}

.btnPrin {
    height: 40px;
    position: relative;
    width: 40px;
}

.iconTitikHVertikal {
    position: absolute;
    top: 0%;
    font-size: 30px;
    right: 7%;
}

.contenFilterCategory {
    position: absolute;
    display: block;
    top: 40px;
    width: 300px;
    z-index: 10;
}

.background {
    background-color: rgba(0, 0, 0, 0.404);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999999;
    top: 0;
    left: 0;
}

.backgroundProduct {
    background-color: rgba(0, 0, 0, 0.404);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
}

.contenInfo {
    width: 140px;
    right: 0px;
    align-items: center;
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
}

/* style Pesanan Distributor */
.textPending {
    padding: 0px 20px;
    border-radius: 50px;
    margin-bottom: -2px;
}

@media (max-width: 768px) {
    .contenInputButton {
        display: block;
        width: 100%;
    }

    .inputSearch {
        width: 100%;
    }

    .btnDropdown {
        margin: 0;
    }

    .contenButton {
        justify-content: space-between;
    }

    .btnPrin {
        width: 30px;
        height: 30px;
        margin-left: -12px;
    }
}