.conten {
    width: 300px;
}

/* style Product */
.contenProduct {
    width: 700px;
    margin-top: 10px;
}

.btnCustomer {
    background-color: #dfdfdf;
    color: white;
    border: 1px solid #c5c5c5;
}

.btnSearch {
    width: 40px;
}

.contenIconImage {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenIconImage2 {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25%;
}

.containerProduct {
    cursor: pointer;
}

.colectionsProduct {
    width: 250px;
    position: absolute;
    background-color: white;
    left: 195px;
    padding-top: 10px;
}

.contenSettingProduct {
    width: 270px;
    position: absolute;
}

/* style export format default */
.containerformatDefault {
    width: 500px;
}

/* style componen pemesanan distributor */
.contenProductDistributor {
    width: 900px;
}

.containerDiskon {
    width: 90px;
    height: 20px;
    background-color: #ddddff;
    padding-right: 5px;
    padding-left: 5px;
}

.contenDetelProduct {
    overflow-x: auto;
    box-sizing: border-box;
}

.contenID {
    min-width: 40px;
    max-width: 40px;
    height: 30px;
    background-color: #ddddff;
}

.productID {
    min-width: 290px;
    max-width: 290px;
    height: 30px;
    background-color: #ddddff;
}

.qtyID {
    height: 30px;
    min-width: 150px;
    max-width: 150px;
    background-color: #ddddff;
}

.alamatID {
    min-width: 270px;
    max-width: 270px;
    height: 30px;
    background-color: #ddddff;
}

.dataID {
    min-width: 40px;
    max-width: 40px;
}

.dataProduct {
    min-width: 290px;
    max-width: 290px;
}

.dataQty {
    min-width: 150px;
    max-width: 150px;
}

.dataAlamat {
    min-width: 270px;
    max-width: 270px;
}

.inputDateComponenDistributor {
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ddddff;
}

.colorTabelBayar {
    background-color: #ddddff;
}

/* style Status Order */
.contenStatusOrderName {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: relative;
}

.containerStatusOrder {
    width: 500px;
    position: relative;
}

.contenComponenBerhasil {
    height: 400px;
    overflow-y: auto;
}

.containerBerhasil {
    background-color: #e1ffef;
}

.textBerhasil {
    font-size: 20px;
    margin-top: -10px;
}

.contenDetalPembayaran {
    width: 90%;
    margin-top: 100px;
    left: 5%;
}

.contenMetodePembayaranDetail {
    height: 380px;
    overflow-y: auto;
}

/* style update pesanan distributor */
.selectUpdate {
    cursor: not-allowed;
}

.btnSampah {
    min-width: 50px;
    max-width: 50px;
}

.buktiBayarUpdatePesananDistributor {
    width: 100%;
    height: 100%;
    background-color: #ffffffca;
    position: absolute;
    top: 0px;
}

.contenBayarPesananDistributor {
    width: 300px;
    overflow-y: auto;
}

/* style Customer Pesanan */
.contenIconCustomerUser {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerUserCustomer {
    cursor: pointer;
}

.cartUserCustomer {
    height: 350px;
}

/* style Keranjang Pesanan */
.imageProduct {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.inputQtyPesanan {
    width: 70px;
}

.btnQtyPesanan {
    border-radius: 100%;
    border: 2px solid #1c0450;
    width: 30px;
    height: 30px;
    position: relative;
}

/* style tambah pesanan */
.backgroundChekoutPesanan {
    background-color: #0000003d;
    position: absolute;
    top: 0px;
}

.containerCheckoutPesanan {
    width: 450px;
}

/* style chekoupt pesanan */
.contenChekoutScroll {
    height: 350px;
    overflow-y: auto;
    padding-bottom: 20px;
}

.dropdownKurir {
    text-align: center;
    height: 50px;
}

/* style pembayaran */
.textPembayaranInvoice {
    font-size: 9px;
    margin-bottom: -5px;
}

@media (max-width: 768px) {
    .contenProduct {
        width: 100%;
        margin: 50px 50px;
    }

    .contenProductDistributor {
        width: 100%;
    }
}