.iconHome {
    width: 23px;
}

.textProdusen {
    font-size: 16px;
}

.simbolTitikTiga {
    position: absolute;
    top: -35px;
    right: 0px;
    font-size: 30px;
    cursor: pointer;
}

/* style gudang pengiriman */
.iconBankBayar {
    position: absolute;
    top: -27px;
    right: 10px;
    font-size: 32px;
    cursor: pointer;
}

/* style COD */
.CheckBookSetting {
    position: absolute;
    top: 20px;
    right: 10px;
    transform: scale(1.6);
}

/* style Tambah pengaturan */
.contenerTambahPengguna {
    width: 480px;
}

/* style Tambah Patner */

.contenInputPembayaranAkhir {
    background-color: #ffe4cf;
}

.inputBatasAkhirPembayaran {
    width: 40px;
    padding: 5px;
}

.textBatasAKhirPembayaran {
    font-size: 11px;
}