.componenLocationPengiriman {
    width: 500px;
}

/* style Alamat Pesanan */
.backgroundUtamaAlamatPesanan {
    background-color: #d9d9ff;
}

/* style metode pembayaran */
.imageBank {
    width: 100px;
    height: 50px;
    object-fit: cover;
}