.contenInput {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;
}

.inputDate {
    background-color: #eceaea;
    height: 40px;
    border: none;
    margin-right: 20px;
    padding: 5px 0px 5px 50px;
    outline: none;
}

.inputDate::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

.inputDate:focus {
    background-color: #e0e0e0;
}

.dateIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: yellow;
    cursor: pointer;
}

.btn-file {
    background-color: #fdfdfd;
    height: 40px;
    margin-right: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.btn-reload {
    padding-left: 15px;
    border-left: solid 1px #a0a0a0;
    height: 40px;
}

.pararafDasbord {
    margin-top: -10px;
}

.contenIconKranjangPenjualan {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    border: 2px solid #a0a0a0;
    margin: auto;
}

.iconKranjang {
    margin: auto;
    display: block;
}

.pargarfIconKranjang {
    color: black;
    font-size: 20px;
    margin-bottom: -5px;
}

.textMarketing {
    margin-bottom: -10px;
}

.textExpedisi {
    margin-bottom: -3px;
}